<p>Hey {{name}},</p>
<p>This is to inform you that your password was changed successfully</p>

<p>
  If you did not initiate this change, kindly contact support:
  <a href='mailto:ayomidetijani6@gmail.com'> Here</a>
</p>